# Used by deploy.sh
AWS_REGION=us-east-1
INSTANCE_NAME=pixel-frame-backend
STATIC_IP_NAME=pixel-frame-backend-ip
CONTAINER_NAME=pixel-frame-backend
CONTAINER_PORT=8000
DOCKER_NETWORK=pixel-frame
PUBLIC_API_URL=https://pixel-frame-api.ethanknotts.com
