# Copy to config.env and adjust if needed.
AWS_REGION=us-east-1
AWS_AVAILABILITY_ZONE=us-east-1a
INSTANCE_NAME=pixel-frame-backend
STATIC_IP_NAME=pixel-frame-backend-ip
BLUEPRINT_ID=amazon_linux_2023
BUNDLE_ID=nano_3_0
CONTAINER_NAME=pixel-frame-backend
CONTAINER_PORT=8000
IMAGE_NAME=pixel-frame-backend:latest
